.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}


.hero::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assests/hero.JPG") center/cover no-repeat;
  opacity: 0.2; /* adjust darkness level */
  pointer-events: none; /* allow clicking through */
}


.heroContent {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
}


.title {

    color: #fff;
    font-size: 66px;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 700;
}


.title2 {
    color: #D09922;
    font-size: 66px;
    text-align: center;
    font-weight: 700;
}

.paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.paragraph p {
    width: 520px;
    text-align: center;
    line-height: 140%;
    height: 113px;
    color: #AAA4A4;
    font-weight: 700;
}

.buttonDiv {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 45px;
    margin-top: 40px;
}

.startButton {
    color: #fff;
    background-color: #D09922;
    width: 281px;
    height: 64px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    padding: 14px 28px;
    cursor: pointer;
    transition: 0.3s ease all;
}

.exploreButton {
    color: #D09922;
    border-color: #D09922;
    background: none;
    width: 281px;
    height: 64px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    padding: 14px 28px;
    cursor: pointer;
    transition: 0.3s ease all;
}

.startButton:hover,
.exploreButton:hover {

    transform: scale(1.05);
}

.detaislDiv {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}

.detaislDiv h3 {
    text-align: center;
    font-size: 35px;
    font-weight: 800;
}

@media (max-width: 900px) {
.hero{
    margin-top: auto;
    height: 700px;
    padding: 120px 0 0 0;
}
    .title,
    .title2 {
        font-size: 38px;
        text-align: center;
        padding: 0 1em;
    }

    .paragraph p {
        width: 100%;
        font-size: 16px;
        line-height: 150%;
        height: auto;
        padding: 0 1.5em;
    }

    .buttonDiv {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .startButton,
    .exploreButton {
        width: 90%;
        max-width: 320px;
    }

    .detaislDiv {
        flex-direction: row;
        align-items: center;
        gap: 20px;
        margin-top: 60px;
    }

    .detaislDiv h3 {
        font-size: 28px;
    }

    .detaislDiv p {
        text-align: center;
        font-size: 16px;
        color: #ccc;
    }

}