/* navbar */
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.scrolled {
    background-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo img {
    max-width: 120px;
    height: auto;
}

/* Desktop navLinks */
.navLinks ul li {
    padding: 1em 2em;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.6s ease, transform 0.3s ease, border-bottom 0.3s ease;
}

.navLinks ul {
    list-style: none;
    display: flex;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.navLinks ul li {
    padding: 1em 2em;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 5px;

}

.navLinks ul li:hover {
    color: #D09922;
    border-bottom: 1px solid #D09922;
    margin-bottom: 5px;
    transform: scale(1.25);
}

.enrollNow {
    background-color: #D09922;
    padding: 14px 24px;
    font-weight: 700;
    color: #fff;
    border-radius: 8px;
    width: 130px;
    height: 52px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease all;
}

.enrollNow:hover {
    background-color: #b37f1a;
    transform: scale(1.05);
}

/* Hamburger menu button */
.menuToggle {
    display: none;
    background: none;
    border: none;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    z-index: 1100;
}

/* Default styles */
.mobileEnrollBtn {
    display: none;
}

.desktopEnrollBtn {
    display: block;
}

/* Responsive styles */
@media (max-width: 900px) {
    .navbar{
        background-color: #000;
    }
    .menuToggle {
        display: block;
    }

    .navLinks {
        position: absolute;
        top: 117px; /* below navbar */
        left: 0;
        right: 0;
        background-color: #000;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease;
        z-index: 999;
    }

    .navLinks ul {
        flex-direction: column;
        width: 100%;
    }

    .navLinks ul li {
        width: 100%;
        padding: 1em 2em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .navLinks ul li:hover {
        background-color: #111;
        color: #D09922;
        border-bottom: none;
    }

    .showMenu {
        max-height: 500px; /* or a safe upper bound to fit content */
    }

    .enrollNow {
        margin: 1em 2em;
        width: calc(100% - 4em);
        box-sizing: border-box;
    }

    .mobileEnrollBtn {
        display: block;
        margin-top: 1em;
        width: 100%;
    }

    .desktopEnrollBtn {
        display: none;
    }
}
