.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

/* navbar */

.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin-bottom: 90px;

}

.navLinks {
  display: flex;
  columns: 2;
  gap: 48px;
  justify-content: center;
  text-decoration: none;


}

.navLinks div {
  font-weight: 700;
  font-size: 20px;
  color: #fff;

}

.navLinks div:hover {
  color: #D09922;

}

.enrollnow {
  background-color: #D09922;
  padding: 14px 24px;
  font-weight: 700;
  color: #fff;
  border-radius: 8px;
  width: 130px;
  height: 52px;
  border: none;

}

.title {
  color: #fff;
  font-size: 66px;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 700;


}

.title2 {
  color: #D09922;
  font-size: 66px;
  text-align: center;
  font-weight: 700;
}

.paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.paragraph p {
  width: 520px;
  text-align: center;
  line-height: 140%;
  height: 113px;
  color: #AAA4A4;
  font-weight: 700;
}

.buttonDiv {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 45px;
  margin-top: 40px;
}

.startButton {
  color: #fff;
  background-color: #D09922;
  width: 281px;
  height: 64px;
  border-radius: 8;
  font-weight: 600;
  font-size: 16px;
  border: none;
  display: flex ;
  justify-content: center;
  align-items: center;
}

.exploreButton {
  color: #D09922;
  border-color: #D09922;
  background-color: #000000;
  width: 281px;
  height: 64px;
  border-radius: 8;
  font-weight: 600;
  font-size: 16px;
   display: flex ;
  justify-content: center;
  align-items: center;
}

.detaislDiv {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
}

.detaislDiv h3 {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
}

.coursediv {
  text-align: center;

}

.subtitle {

  background-color: #ffffff29;
  color: #fff;
  padding: 12px;
  margin: 0 710px;
  border-radius: 30px;
  font-size: 24;
  margin-bottom: 25px;
}

.coursediv h1 {
  font-size: 60px;
  font-weight: 800;
  color: #fff;
}

.coursediv p {

  font-size: 16px;
  color: #AAA4A4;
  margin: 20px 410px;
}

.courseCards {
  display: flex;
  justify-content: space-around;
}

.courseCard {
  margin-top: 50px;
  width: 600px;
  height: 770px;
  background-color: #aaa4a42e;

}

.courseImage {
  border-top-right-radius: 30px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.courseImage2 {
  border-top-left-radius: 30px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.courseCard h3 {
  color: #fff;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 21px;

}

.courseCard p {
  color: #AAA4A4;
  padding: 0 30px;
  font-weight: 500;
  line-height: 140%;
}

.courseCard p span {
  color: #fff;
  font-weight: 300;
  padding: 10px 20px;

}

.courseButton {
  color: #fff;
  background-color: #D09922;
  width: 551px;
  height: 44px;
  border-radius: 8;
  font-weight: 600;
  font-size: 16px;
  display: flex ;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 30px 20px;
}

.classesTitle {
  color: #fff;
  font-size: 50px;
  text-align: center;
  font-weight: 800;
  margin-top: 80px;
}

.mainClassCardDiv {
  margin: 100px;
  border-radius: 30px;
  padding: 100px;
  background-color: #aaa4a422;

}

.classCards {
  display: grid;
  grid-template-columns: 1fr 1fr;  /* two equal columns */
  gap: 30px;
  margin-top: 50px;
  color: #fff;
}

.classCard {
  background-color: #000000;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
}

.classCard h2 {
display: flex;
justify-content: start;
align-items: center;
}

.assessmentDetailsDiv {
  margin: 100px;
  border-radius: 30px;
  padding: 100px;
  background-color: #aaa4a422;
}

.assessmentDetailsDiv h1 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  font-weight: 800;
  margin-bottom: 20px;
}

.assessmentDetailsDiv p {
  color: #AAA4A4;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  margin-bottom: 30px;
  width: 800px;
  margin: auto
}

.assessmentButton {
  color: #fff;
  background-color: #000000;
  width: 281px;
  height: 64px;
  border-radius: 8;
  font-weight: 600;
  font-size: 16px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0 auto;
}

.aboutdiv {
  margin: 0 200px;
  text-align: center;
  align-items: center;
}

.aboutsubtitle {
  background-color: #ffffff29;
  color: #fff;
  padding: 12px;
  margin: 0 510px;
  border-radius: 30px;
  font-size: 24;
  margin-bottom: 25px;
}

.aboutdiv h1 {
  font-size: 40px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 30px;
}

.aboutdiv p {
  line-height: 140%;
  font-size: 20px;
  color: #AAA4A4;

}

.aboutCards {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;

}

.aboutImageCard {
  margin-top: 50px;
  object-fit: cover;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  opacity: 0.6;
}


.aboutCard {
  margin-top: 50px;
  width: 600px;
  height: 600px;
  background-color: #aaa4a41e;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}


.aboutCard h3 {
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 40px;
  background-color: #000000;
  padding: 20px;
  border-radius: 25px;
  color: #ffffffb7;

}

.aboutCard p {
  width: 450px;
  font-size: 22px;
  text-align: center;
  line-height: 170%;
  font-weight: 600;
  color: #fff;
}

/* core value  */
.coreValueDiv {
  color: #fff;
  margin-top: 100px;
}

.coreValueDiv h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;

}

.coreValueDiv p {
  text-align: center;
  margin-bottom: 40px;
}

.coreValueCards {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  text-align: center;
  margin: 90px;
}

.coreValueCard {
  background-color: #38383859;
  border-radius: 50px;
  margin: 10px 50px;
  padding: 50px;

}

.coreValueCard h4 {
  font-weight: 700;
  margin-bottom: 20px;
}

.coreIcon {
  height: 50px;
  width: 50px;
  background-color: #000000;
  text-align: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.coreIcon svg {
  margin-top: 10px;
}

.teacherDetails {
  margin: 0 200px;
  text-align: center;
  align-items: center;
}

.teacherDetails h2 {
  font-size: 40px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 30px;
}

.teacherDetails p {

  line-height: 140%;
  font-size: 20px;
  color: #AAA4A4;
  text-align: center;
}

.teacherDetailsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 150px;
}

.teacherDetailsList h1 {
  text-decoration: underline;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 30px;
  margin-left: 300px;
}

.teacherDetailsList ul {
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 270px;
  line-height: 150%;
}

.teacherImage {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 200px;
  margin-top: -35px;
}

.feedbackDiv {
  margin: 0 200px;
  text-align: center;
  align-items: center;
}

.feedbackSubtitle {
  color: #fff;
  padding: 12px;
  margin: 0 500px;
  border-radius: 10px;

}

.feedbackDiv h1 {
  font-size: 40px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 30px;
}

.feedbackDiv p {
  line-height: 140%;
  font-size: 20px;
  color: #AAA4A4;

}

.feedbackCards {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  text-align: center;
  margin: 90px;
}

.feedbackCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #38383859;
  border-radius: 50px;
  margin: 10px 50px;
  padding: 50px;

}

.feedbackCard h1 {
  display: flex;
  color: #fff;
}

.feedbackCard p {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-bottom: 40px;
}

.feedbackCard h4 {
  margin-top: 20px;
  display: flex;
  color: #fff;
}

.profileIcon {

  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  background-color: #D09922;
  align-items: center;
  margin-top: 12px;
  margin-right: 10px;
}

.profileIcon p {
  margin-top: 15px;
}

.studentDetails {
  display: flex;

}

.student p{
  text-align: start;
}

.contactDiv {
  margin: 0 200px;
  text-align: center;
  align-items: center;
}

.contactSubtitile {
  color: #fff;
  padding: 12px;
  margin: 0 500px;
  border-radius: 10px;

}

.contactDiv h1 {
  font-size: 40px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 30px;
}

.contactDiv p {
  line-height: 140%;
  font-size: 18px;
  color: #AAA4A4;

}
.contactCards {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  text-align: center;
  margin: 90px;
}

.contactFormCard{
  background-color: #38383859;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 50px;
  width: 1000px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.contactCard{
  color: #fff;
  text-align: start;
}
.contactCard h1 {
  font-weight: 700;
  margin-bottom: 10px;
  font-weight: 800;
}

.contactCard p {
  font-size: 20px;
  color: #ffffffb7;
  text-align: start;
  line-height: 150%;
  font-weight: 600;
  margin-bottom: 30px;
}

.contactDetailsCard{
  background-color: #ffffff13;
  border-radius: 10px;
  margin: 40px 0;
  padding: 20px;
  width: 550px;
  height: 176px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: start;

}

.contactIcon {
  background-color: #ebb30a2e;
  border-radius: 10px;
  margin: 40px 40px;
  padding: 20px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.contactDetailsCard h4{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  text-decoration: underline;
  font-weight: 800;
}

.contactDetailsCard ul{
  font-size: 16px;
  color: #ffffff;
  text-align: start;
  line-height: 150%;
  font-weight: 800;
}

.contactFormDiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.footer {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 20px 0;
  font-size: 14px;
  margin-top: 50px;
   text-align: center;
}

.footer p{
  color: #ffffffb7;
  font-size: 14px;
  text-align: center;
  line-height: 150%;
  font-weight: 600;
  margin-top: 10px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.footerDiv{
  color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #cccccc20;
  padding: 70px 30px;

}

.logoAndTitle{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-bottom: 10px;
}

.logoAndTitle p{
  font-size: 14px;
  color: #ffffffb7;
  text-align: start;
  line-height: 150%;
  font-weight: 600;
  margin-top: 10px;
  width: 300px;
}



.footerContent h2{
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}

.footerContent ul{
line-height: 190%;
  padding: 0;
  margin: 0;
}

/* resnponsive */
@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .navLinks {
    flex-wrap: wrap;
    gap: 20px;
  }

  .detaislDiv,
  .coreValueCards,
  .aboutCards,
  .feedbackCards,
  .contactCards {
    flex-direction: column;
    align-items: center;
  }

  .courseCards {
    flex-direction: column;
    align-items: center;
  }

  .teacherDetailsDiv {
    grid-template-columns: 1fr;
  }

  .courseCard,
  .aboutCard,
  .contactFormCard,
  .contactDetailsCard {
    width: 90%;
    height: auto;
  }

  .mainClassCardDiv,
  .assessmentDetailsDiv {
    padding: 40px;
    margin: 40px;
  }

  .contactFormDiv {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 768px) {
  .title,
  .title2 {
    font-size: 40px;
  }

  .paragraph p {
    width: 90%;
    font-size: 16px;
  }

  .buttonDiv {
    flex-direction: column;
    gap: 20px;
  }

  .startButton,
  .exploreButton,
  .assessmentButton {
    width: 90%;
    height: 56px;
    font-size: 14px;
  }

  .subtitle,
  .aboutsubtitle,
  .contactSubtitile,
  .feedbackSubtitle {
    margin: 0 20px;
    font-size: 18px;
  }

  .coursediv p {
    margin: 0 20px;
  }

  .aboutdiv,
  .feedbackDiv,
  .contactDiv {
    margin: 0 20px;
  }

  .aboutCard p,
  .feedbackCard p {
    width: 90%;
    font-size: 18px;
  }

  .contactFormCard {
    padding: 20px;
  }

  .contactDetailsCard {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: flex-start;
  }

  .contactIcon {
    margin: 10px 0;
    width: 60px;
    height: 60px;
  }

  .teacherImage {
    margin-left: 0;
  }

  .footerDiv {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0;
    margin: 0;
  }

  .navbar {
    padding: 10px;
  }

  .navLinks {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .title,
  .title2 {
    font-size: 30px;
  }

  .coursediv h1 {
    font-size: 36px;
  }

  .courseCard {
    width: 100%;
    margin: 20px 0;
  }

  .coreValueCards,
  .feedbackCards {
    flex-direction: column;
    margin: 40px 10px;
  }

  .coreValueCard,
  .feedbackCard {
    padding: 30px;
    margin: 10px 0;
  }

  .contactFormCard {
    width: 100%;
    padding: 20px;
  }

  .footerDiv {
    padding: 30px 10px;
  }

  .footer p {
    width: 90%;
  }
}
